@{
    ViewData["Title"] = "☢ Välkommen ☢";
}

<div class="bakgrundsBildCss">

    <div class="text-center monsterFont">
        <h1 class="display-4">Välkommen</h1>
        <p><a class="navbar-brand monsterFont" asp-area="" asp-controller="Monsters" asp-action="Index">Hitta ditt innre-Monster</a></p>
        <img class="fotoFirstPage" src="/img/—Pngtree—3d top trophy for first_6180961.png">
    </div>
</div>

