@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@

<div class="text-center monsterFont">
<h1 class="display-4">Den andra sidan</h1>
<p>

    <a class="navbar-brand monsterFont" asp-area="" asp-controller="Monsters" asp-action="Index">Hitta ditt innre-Monster</a>

</p>
</div>
