html {
  font-size: 14px;
/*  background-color: #131419*/
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}

.monsterImgTumbNail {
  height: 70px;
  width: auto;
 }

.monsterImg {
  height: 250px;
  width: auto;
}

.progress {
  height: 38px;

}

.forNamnIndex {
  font-weight: bold;
}

.sawLastIndex {
  font-style: italic;
}


.mindre {
  width: 25%;
}

.labelSok {
  color: gray;
  font-size: 12px;
  height: 35px;
}

.rightSokButton {
  border-radius: 0px 30px 0px 30px;
}

.sokRutan {
  color: gray;
}

.borderAll {
  border: 1px solid gray;
  border-radius: 0px 30px 0px 30px;
}

.monsterFont {
  font-family: 'Nosifer', cursive;
  color: #dc3545;
}

.monsterFontStorlek {
  font-family: 'Nosifer', cursive;
  color: #dc3545;
  font-size: 40px
}

.img-thumbnail {
  border: none;
}

.fotoFirstPage {
  height: 500px;
}

.topnav-right {
  float: right;
  background-color: #dc3545; 
  justify-content: right;
}

.topnav-left {
  float: left;
  background-color: black
}

  .topnav-left:hover {
    float: left;
    background-color: #dc3545
  }

.inlineButton {
  display: inline;
}

.blackColor {
  background-color: black;
  color: white;
}

.blackColor:hover {
    background-color: #dc3545;
    color: blue;
}

.footer {
  background-color: #dc3545;
  color: black;

}

.textColorBlack {
  color: black;
  font-family: 'Nosifer', cursive;
}

footer {
  border: #dc3545 1px;
}
